body {
  padding: 0;
  margin: 0;
  margin-left: 1px;
  margin-right: 1px;
  height: 590px;
  
}

.container{
  width: 1200px;
  margin-left: 45px;
  border-radius: 150px;
  background: linear-gradient(
    50deg, 
    rgba(118, 112, 201, 0.3) 20%,
    rgba(255, 255, 255, 0.2) 30%,
    rgba(42, 21, 92, 0.3) 60%
  );

}

.header {
  background-image: url("../img/knigth.jpg");
  margin-left: 150px;
  height: 325px;
  background-repeat: no-repeat;
}

#seal1 {
  position: absolute;
  width: 150px;
  height: 200px;
  margin-top: -320px;
}
#seal2 {
  position: absolute;
  width: 150px;
  height: 200px;
  margin-top: -320px;
  margin-left: 1175px;
}
h1,
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 150px;
  text-align: justify;
  font-size: 28px;
  width: 900px;
  color:transparent
}
ul {
  margin-left: 120px;
  text-align: justify;
  font-size: 20px;
  width: 1000px;
  color:transparent
}
#colorChange{
  position: absolute;
  margin-left: 1200px;
  top: 33%;
}
#firstText{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 65px;
}

.bottom-container {
  font-size: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
}


