<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/help.css">
    </head>
    <body>
        <div class="header"></div>
        <img id="seal1" src="img/seal.jpg">
        <img id="seal2" src="img/seal.jpg">
        <body>
            <button id="colorChange" style="visibility: hidden;"  onclick="changeTextColor()">Let there be light</button>
            
            <div class="container" id="container">
                <div class="bottom-container">
                 <label>
                    <input type="checkbox" style="width: 17px; height: 17px;" id="agree">
                    Everything clear
                  </label>
                  <button id="goBack" style="display:none;"  onclick="changeTextColor()">Go back to main page</button>
                </div>
              
              <h1 id="header">Welcome to the Collegia Titanica help page.</h1>
              <p id="header2">This simple page will help you understand what this page is about, and how to navigate through it.</p>
              <p2 id="firstText">By the emperor what kind of heresy is that?...try to do something, to make it visible, we can not work like this</p2>
    <ul id="list">
        <li>First of all welcome again, this page will allow you to connect to the database, store different types of imperial titans in it and show informations about them</li>
        <li>For more info about Collegia Titanica, click on the logo (The big T)</li>
        <li>For more info about Adeptus mechanicus, click on the big gif logo(with the skull/titan)</li>
        <li>Ok, if you want to start, you need to know that the process is very complicated, and the factory is very large, and there are always some "saboteurs", that prevents you from having fun, so first of all you need to find and catch the little orc (try it with the "T" logo(point, click, hold and move, release))</li>
        <li>There is also a little message, that will change, when hovering over the "T" before, and after the "action"</li>
        <li>Ok now that you have caught him(as you can see, he is not very happy) you can click on a "submit new post" button, you will be allowed to write the class of the titan and the url, that can be used for more info </li>
        <li>If you do not like the fighting scene , you can change it with the button</li>
        <li>Then if you click on the "submit" button, those informations will be stored in a database and also shown on the page</li>
        <li>Then the logo of adeptus mechanicus will be changed to an active titan gif, to let you known , that you have a fully functional titan in a database </li>
        <li>Then you will be able to give points to your favorite titans , or take points away, if you do not like them</li>
        <li>You can also modify the content and the url, but do not forget to save</li>
        <li>And finally, you can delete your titan permanently from the database and the page, the gif will also change, to let you know that your titan is destroyed
        <li>Unfortunately, the process is very complicated and after each titan, the production will stop and of course there are always some new saboteurs, that will prevent you from having fun... but you know the drill</li>
        <li>If you want to relax a little, you can play a little game(click play game button)</li>
       
        <li>There will be more features with the upcoming updates, so do not forget to come back once in a while  </li>
    </ul>
            </div>
        
        <script src="../script.js" ></script>
    </body>
</html>